*{
    padding: 0;
    margin: 0;
}
html{
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    color: white;
}
a{
    text-decoration: none;
}
#headerText h1{
    padding: 2% 0 0 2%;
}
#headerText h2{
    padding: 1% 0 2% 2%;
}
header #fast{
    color: #f0c929;
}
header #nature{
    color: green;
}
header #own{
    color: #fa1e0e;
}
header #destroy{
    color: #aa2b1d;
}
footer{
    text-align: center;
    padding: 2% 0 0 0.5%;
}
footer p{
    font-style: italic;
    padding: 0.5% 0;
}
#lastword{
    font-weight: bold;
    font-family: 'Cutive Mono', monospace;
    font-size: larger;
}