#menu ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding: 1% 2% 1% 2%;
    margin: 0 0 2% 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
#menu li{
    text-align: center;
}
#menu a{
    text-decoration: none;
    color: white;
}
#menu a:hover, #menu a:focus{
    font-weight: bold;
    color: #f4f9f9;
    text-decoration: underline;
}
#menu .athere{
    color: red;
}