#text{
    font-family: 'Quicksand', sans-serif;
}
#text h3 {
    font-size: x-large;
    text-align: center;
    padding-bottom: 1%;
}
#text p{
    padding-left: 3%;
}
#source{
    padding-top: 1%;
    font-weight: bold;
}
#source a{
    color: white;
    font-weight: normal;
    text-decoration: underline;
}
#source a:hover, #source a:focus{
    font-style: italic;
    font-weight: bold;
    color: yellow;
}
#figure{
    font-weight: bold;
    text-align: center;
    font-size: large;
    padding: 1.5% 0 0 0;
}
section#jsarea{
    padding: 2%;
}
div#legend{
    padding-left: 3%;
}
#note, #legendimg, #explanation{
    display: inline;
}